<h2>New Business</h2>

<%=form_with scope: :business, url: businesses_path, local: true do |form| %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>
    <p>
        <%= sanitize form.label :description %><br>
        <%= sanitize form.text_field :description %>
    </p>
    <p>
        <%= sanitize form.label :address %><br>
        <%= sanitize form.text_field :address %>
    </p>
    <p>
        <%= form.submit %>
    </p>

<% end %>